@font-face {
  font-family: 'SFProText';
  src: local('SFProText'), url(./fonts/SFProText-Regular.ttf) format('truetype'),
    url(./fonts/SFProText-Regular.otf) format('opentype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'SFProText';
  src: local('SFProText'), url(./fonts/SFProText-Bold.ttf) format('ttf'),
    url(./fonts/SFProText-Bold.otf) format('opentype');
  font-style: normal;
  font-weight: bold;
}

body {
  margin: 0;
  font-family: 'SFProText', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

